body{
    width: 400px !important;
    margin: auto !important;
}
h1{
    margin-top: 30% !important;
    text-align: center !important;
}

@media (max-width:34.375em) {
h1{
        position: relative;
        right:  1rem;
}
 }


 @media (max-width:24.875em) {
h1{
      margin-left: 2.5rem;
                
    }
     } 
    

.form-group{
    /* border: 3px solid white outset !important; */
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    /* border-bottom-style:hidden  ; */
padding-right: 200px;
border-color: gray;
outline: none !important;
outline-color:green ;
font-size: 110%;
/* outline-bottom: green; */
}



@media (max-width:34.375em) {
.form-group{
    position: relative;
    left: 1rem;    
    width: 23rem;

}
 }
 
@media (max-width:26.5625em) {
.form-group {
     width: 20rem;
                
}
 }
    

@media (max-width:24.875em) {
.form-group {
         margin-left: .5rem;
                    
}
 }

@media (max-width:24.875em) {
.form-group {
            margin-left: .5rem;
            
}
 }




.button{
    margin-top: 50px !important;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 7px;
    font-size: 20px;
    padding-bottom: 7px;
    text-align: center;
    border-radius: 50px;
    color: white;
    background-color:green;
    position: relative;
    left: 1.5rem;

}
.button:hover{
    background-color: rgb(24, 22, 22) !important;
}

@media (max-width:34.375em) {
.button {
        padding: 4px 80px 4px 80px;
        margin-left: 2rem;
        
}
 }
  
@media (max-width:26.5625em) {
.button {
    margin-left: .7rem;
            
}
 }


    

@media (max-width:24.875em) {
    .button {
            margin-left: 1.3rem;
            
}
 }


li{
    padding: 5px;
    color: gray !important;
}
a{
    text-decoration: none !important;
    color: green !important;
}
a:hover{
    color: black !important;
}
.form-group:hover{
border-color: rgb(48, 121, 48);
}